@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary: hsl(264, 36%, 52%);
$white-color-bg: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 100%);
$color-content: hsl(0, 0%, 96%);
$black-color-1: hsla(0, 0%, 0%, 0.8);
$black-color-bg: hsla(0, 0%, 0%, 0.5);
$black-color-bg-1: hsla(0, 0%, 0%, 0.6);

/////////////////////////////////////////
// BORDER RADIUS
$border-radius: 5px;

html {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}